@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
a{
	color: #000;
	text-decoration: none;
}
ul,ol,li{
	list-style: none;
}
img{
	display: block;

}
body{

	font:normal normal 12px "微软雅黑";
	margin: 0 auto;
}
.clearFloat:after{
             content:"";
             display:block;
             clear:both;
}